$test-color1: blue;
$test-color2: red;
$test-color3: green;
$test-color4: yellow;
$test-color5: purple;
@mixin testBox($w, $l) {
  width: $w;
  height: $l;
}

//for sticky footer:
#site {
  background-color: $test-color1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// HEADER/NAV
header {
  background-color: $test-color2;
  display: flex;
  flex-direction: column;
}
.logo-name {
  display: block;
}
nav {
  ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }
}
#header-img {
  width: 10%;
}
nav {
  background-color: $test-color5;
}
// CONTAINER
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
section {
  width: 100%;
}
#about {
  background-color: $test-color4;
}
#gallery {
  background-color: $test-color3;
}
#pricing {
  background-color: $test-color4;
}
#testimonials {
  background-color: $test-color3;
}
#contact {
  background-color: $test-color4;
}
//FOOTER
footer {
  background-color: $test-color2;
}
