$test-color1: blue;
$test-color2: red;
$test-color3: green;
$test-color4: yellow;
$test-color5: purple;
// font-family: 'Poor Story', cursive;
// font-family: 'Raleway', sans-serif;
// ratio: font size = 14px
// line height = (14*1.618) = 23px
@mixin testBox($w, $l) {
  width: $w;
  height: $l;
}

//for sticky footer:
#site {
  background-color: $test-color1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
p,
li,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
p {
  font-size: 0.875em;
  line-height: 1.42;
}
h2 {
  font-size: 1.5em;
  font-weight: 500;
}
// HEADER/NAV
header {
  background-color: $test-color2;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: 'Poor Story', 'Raleway', sans-serif;
    font-size: 3em;
  }
}
.logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 5em;
    border-radius: 50%;
  }
}
nav {
  ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 770px) {
  header {
    flex-direction: row;
  }
}
// #header-img {
//   // width: 10%;
// }
nav {
  background-color: $test-color5;
}
// CONTAINER
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
section {
  width: 100%;
}
#about {
  background-color: $test-color4;
}
#gallery {
  background-color: $test-color3;
}
#pricing {
  background-color: $test-color4;
}
#testimonials {
  background-color: $test-color3;
}
#contact {
  background-color: $test-color4;
}
//FOOTER
footer {
  background-color: $test-color2;
}
