* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

p,
a, li {
  font-family: 'Raleway', sans-serif; }

p {
  color: #444444;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

a {
  color: #113288; }

h1 {
  color: #40579c;
  font-family: 'Poor Story', serif; }

h2,
h3,
h4,
h5,
h6 {
  color: #193895;
  font-family: 'Roboto Slab', serif; }

h2 {
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 0.5em; }

section {
  padding: 0.5em; }

.strong {
  color: #ce6e00;
  font-weight: bold;
  margin-left: 0.7em; }

form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  align-items: flex-start; }
  form label {
    font-size: 1.2em;
    margin-bottom: 0.5em; }

#email {
  margin-bottom: 0.5em;
  width: 25em; }

#submit {
  border: 3px solid #ce6e00;
  background-color: #e7a04e;
  color: #193895;
  border-radius: 10px;
  padding: 0.2em;
  font-size: 1.2em;
  margin-top: 0.25em;
  font-family: 'Roboto Slab', serif; }

#header {
  top: 0px;
  position: fixed;
  background-color: #ce6e00;
  width: 100%;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column; }

#header-img {
  width: 3em;
  border-radius: 50%; }
  @media screen and (min-width: 759px) {
    #header-img {
      width: 5em; } }

.logo-name {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0.25em; }

#name1,
#name2 {
  font-size: 3em;
  align-self: center; }
  @media screen and (min-width: 759px) {
    #name1,
    #name2 {
      font-size: 5em; } }

#name1 {
  margin-right: 0.25em; }

#name2 {
  margin-left: 0.25em; }

nav ul {
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 375px) {
    nav ul {
      justify-content: space-around; } }

nav {
  background-color: #ffc05e;
  padding: 0.5em 1em 0.25em 1em; }

.container {
  width: 100%;
  overflow-x: hidden;
  clear: both;
  margin-top: 3em;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em 1em;
  padding-top: 1em; }
  @media screen and (min-width: 759px) {
    .container {
      margin-top: 4em; } }
  @media screen and (min-width: 1024px) {
    .container {
      padding-right: 5em;
      padding-left: 5em; } }
  @media screen and (min-width: 1400px) {
    .container {
      padding-right: 15em;
      padding-left: 15em; } }

section {
  width: 100%; }

#about,
#gallery,
#pricing,
#testimonials,
#contact {
  background-color: #f0f0f0; }

iframe {
  width: 270px;
  height: 151.88px;
  align-self: center; }
  @media screen and (min-width: 425px) and (max-width: 759.9px) {
    iframe {
      width: 372px;
      height: 209.25px; } }
  @media screen and (min-width: 760px) {
    iframe {
      width: 723.3px;
      height: 406.69px; } }

.about-video {
  display: flex;
  flex-direction: column; }

.prices-grid {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 759px) {
    .prices-grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch; } }

.price-block {
  border: 10px solid #f0f0f0;
  -moz-box-shadow: 0 0 5px #444444;
  -webkit-box-shadow: 0 0 5px #444444;
  box-shadow: 0 0 5px #444444;
  background-color: white;
  margin-bottom: 1em; }
  @media screen and (min-width: 759px) {
    .price-block {
      width: 32%; } }
  .price-block ul {
    margin: 0.25em; }

.price-desc, .price-para {
  padding: 0.5em 1em; }
  .price-desc p, .price-para p {
    line-height: 1.2em; }
    @media screen and (min-width: 759px) {
      .price-desc p, .price-para p {
        font-size: 1em; } }

.price-title {
  background-color: #e7ca4e;
  padding: 0.35em;
  text-align: center;
  font-size: 1.2em; }
  @media screen and (min-width: 759px) {
    .price-title {
      font-size: 1em; } }

.list-title {
  color: #40579c;
  font-weight: bold;
  margin-top: 0.25em; }
  .list-title li {
    color: #444444;
    line-height: 1.25em; }

.gallery-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em; }
  @media screen and (min-width: 759px) {
    .gallery-grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch; } }

.gallery_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.625em;
  padding: 0.45em;
  background-color: white;
  border: 10px solid #f0f0f0;
  -moz-box-shadow: 0 0 5px #444444;
  -webkit-box-shadow: 0 0 5px #444444;
  box-shadow: 0 0 5px #444444; }
  @media screen and (min-width: 759px) {
    .gallery_image {
      width: 47%; } }
  @media screen and (min-width: 1024px) {
    .gallery_image {
      width: 30%; } }
  .gallery_image img {
    display: block;
    width: 100%; }
  .gallery_image figcaption {
    font-family: 'Roboto Slab', serif;
    font-size: 0.75em;
    margin-top: 0.5em;
    text-align: center; }

.testimonialName {
  font-weight: bold;
  color: black; }

footer {
  background-color: #ffcf04;
  padding: 0.25em;
  font-size: 0.5em;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    footer {
      font-size: 1em;
      padding: 1em; } }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
